@model Instructor
<h3>Yeni Öğretim Elemanı Oluştur</h3>
<hr>
<div class="row mt-3 col-md-4">
<form asp-controller="Instructor" asp-action="Create" method="post">
        <div class="mb-3">
        <label asp-for="InstructorName" class="form-label"></label>
        <input asp-for="InstructorName" class="form-control">
        <span asp-validation-for="InstructorName" class="text-danger"></span>


    <input type="hidden" asp-for="InstructorPoint" value="0">

    <button type="submit" class="btn btn-secondary mt-3 ">Kaydet</button>
</form>

</div>
</div>
